In [1]:
#zaimportowanie potrzebnych bibliotek
import pandas as pd
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 200)
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#wczytanie pliku
df=pd.read_csv("IBM_HR.csv")

In [3]:
df.head(10)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,2,Female,94,3,2,Sales Executive,4,Single,5993,19479,8,Y,Yes,11,3,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,3,Male,61,2,2,Research Scientist,2,Married,5130,24907,1,Y,No,23,4,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,4,Male,92,2,1,Laboratory Technician,3,Single,2090,2396,6,Y,Yes,15,3,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,4,Female,56,3,1,Research Scientist,3,Married,2909,23159,1,Y,Yes,11,3,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,1,Male,40,3,1,Laboratory Technician,2,Married,3468,16632,9,Y,No,12,3,4,80,1,6,3,3,2,2,2,2
5,32,No,Travel_Frequently,1005,Research & Development,2,2,Life Sciences,1,8,4,Male,79,3,1,Laboratory Technician,4,Single,3068,11864,0,Y,No,13,3,3,80,0,8,2,2,7,7,3,6
6,59,No,Travel_Rarely,1324,Research & Development,3,3,Medical,1,10,3,Female,81,4,1,Laboratory Technician,1,Married,2670,9964,4,Y,Yes,20,4,1,80,3,12,3,2,1,0,0,0
7,30,No,Travel_Rarely,1358,Research & Development,24,1,Life Sciences,1,11,4,Male,67,3,1,Laboratory Technician,3,Divorced,2693,13335,1,Y,No,22,4,2,80,1,1,2,3,1,0,0,0
8,38,No,Travel_Frequently,216,Research & Development,23,3,Life Sciences,1,12,4,Male,44,2,3,Manufacturing Director,3,Single,9526,8787,0,Y,No,21,4,2,80,0,10,2,3,9,7,1,8
9,36,No,Travel_Rarely,1299,Research & Development,27,3,Medical,1,13,3,Male,94,3,2,Healthcare Representative,3,Married,5237,16577,6,Y,No,13,3,2,80,2,17,3,2,7,7,7,7

In [4]:
#department, job level, job role
def q10(x):
    return x.quantile(0.1)
def q90(x):
    return x.quantile(0.9)


df.sort_values('Department', inplace = True)
departments = ['Human Resources', 'Research & Development','Sales']


for department in departments:
    filter1 = df["Department"]== department
    df.where(filter1).groupby([
            "JobRole",
            "JobLevel",
            "EducationField"]).agg({
    "EducationField": "describe",
    "Education": ["median", "describe", q10, q90], 'JobSatisfaction' : "describe"}).to_excel(f'{department}_with_job_role_level.xls')

C:\Users\isiu1\AppData\Local\Temp/ipykernel_16972/4149380600.py:14: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  df.where(filter1).groupby([

In [5]:
#department, job level, job role without Education Field
def q10(x):
    return x.quantile(0.1)
def q90(x):
    return x.quantile(0.9)


df.sort_values('Department', inplace = True)
departments = ['Human Resources', 'Research & Development','Sales']


for department in departments:
    filter1 = df["Department"]== department
    df.where(filter1).groupby([
            "JobRole",
            "JobLevel"]).agg({
    "EducationField": "describe",
    "Education": ["median", "describe", q10, q90], 'JobSatisfaction' : "describe"}).to_excel(f'{department}_with_job_role_level_no_edu_field.xls')

C:\Users\isiu1\AppData\Local\Temp/ipykernel_16972/2966665939.py:14: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  df.where(filter1).groupby([

In [6]:
#department, job role
def q10(x):
    return x.quantile(0.1)
def q90(x):
    return x.quantile(0.9)


df.sort_values('Department', inplace = True)
departments = ['Human Resources', 'Research & Development','Sales']


for department in departments:
    filter1 = df["Department"]== department
    df.where(filter1).groupby([
            "JobRole",
            "EducationField"]).agg({
    "EducationField": "describe",
    "Education": ["median", "describe", q10, q90], 'JobSatisfaction' : "describe"}).to_excel(f'{department}_with_job_role.xls')

C:\Users\isiu1\AppData\Local\Temp/ipykernel_16972/3779404077.py:14: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  df.where(filter1).groupby([

In [7]:
#department, job role without Education Field
def q10(x):
    return x.quantile(0.1)
def q90(x):
    return x.quantile(0.9)


df.sort_values('Department', inplace = True)
departments = ['Human Resources', 'Research & Development','Sales']


for department in departments:
    filter1 = df["Department"]== department
    df.where(filter1).groupby([
            "JobRole"]).agg({
    "Education": ["median", "describe", q10, q90], 'JobSatisfaction' : "describe"}).to_excel(f'{department}_with_job_role_no_edu_field.xls')

C:\Users\isiu1\AppData\Local\Temp/ipykernel_16972/2943349456.py:14: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  df.where(filter1).groupby([

In [8]:
#department, job level
def q10(x):
    return x.quantile(0.1)
def q90(x):
    return x.quantile(0.9)


df.sort_values('Department', inplace = True)
departments = ['Human Resources', 'Research & Development','Sales']

for department in departments:
    filter1 = df["Department"]== department
    df.where(filter1).groupby([
            "JobLevel",
            "EducationField"]).agg({
    "EducationField": "describe",
    "Education": ["median", "describe", q10, q90], 'JobSatisfaction' : "describe"}).to_excel(f'{department}_with_job_level.xls')

C:\Users\isiu1\AppData\Local\Temp/ipykernel_16972/335967093.py:13: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  df.where(filter1).groupby([

In [9]:
#department, job level without Education Field
def q10(x):
    return x.quantile(0.1)
def q90(x):
    return x.quantile(0.9)


df.sort_values('Department', inplace = True)
departments = ['Human Resources', 'Research & Development','Sales']

for department in departments:
    filter1 = df["Department"]== department
    df.where(filter1).groupby([
            "JobLevel"]).agg({
    "EducationField": "describe",
    "Education": ["median", "describe", q10, q90], 'JobSatisfaction' : "describe"}).to_excel(f'{department}_with_job_level_no_edu_field.xls')

C:\Users\isiu1\AppData\Local\Temp/ipykernel_16972/3215198651.py:13: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  df.where(filter1).groupby([

In [10]:
#department without Education Field
def q10(x):
    return x.quantile(0.1)
def q90(x):
    return x.quantile(0.9)


df.sort_values('Department', inplace = True)
departments = ['Human Resources', 'Research & Development','Sales']

for department in departments:
    filter1 = df["Department"]== department
    df.where(filter1).groupby("Department").agg({
    "Education": ["median", "describe", q10, q90], 'JobSatisfaction' : "describe"}).to_excel(f'{department}_no_edu_field.xls')

C:\Users\isiu1\AppData\Local\Temp/ipykernel_16972/509715127.py:13: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  df.where(filter1).groupby("Department").agg({

In [11]:
#company without job_level
def q10(x):
    return x.quantile(0.1)
def q90(x):
    return x.quantile(0.9)

df.groupby(
            "EducationField").agg({
    "EducationField": "describe",
    "Education": ["median", "describe", q10, q90], 'JobSatisfaction' : "describe"}).to_excel('company.xls')

C:\Users\isiu1\AppData\Local\Temp/ipykernel_16972/1874905068.py:7: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  df.groupby(

In [12]:
#company without job_level without Education Field
def q(n):
    def q_(x):
        return x.quantile(n/100)
    q_.__name__ = 'q_{:2.0f}'.format(n)
    return q_

df['Education'].agg(['mean', 'std', 'min', 'max', q(10),q(25),q(50),q(75),q(90)]).to_excel('company_no_edu_field.xls')
df['Education'].describe()
# df.agg({"Education": ["median", "describe", q10, q90]})
#company with job_level no edu field
# df.agg({
#     "Education": ["median", "describe", q10, q90]})

C:\Users\isiu1\AppData\Local\Temp/ipykernel_16972/2708603348.py:8: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  df['Education'].agg(['mean', 'std', 'min', 'max', q(10),q(25),q(50),q(75),q(90)]).to_excel('company_no_edu_field.xls')

count    1470.000000
mean        2.912925
std         1.024165
min         1.000000
25%         2.000000
50%         3.000000
75%         4.000000
max         5.000000
Name: Education, dtype: float64

In [13]:
    "EducationField": "describe",#company with job_level
def q10(x):
    return x.quantile(0.1)
def q90(x):
    return x.quantile(0.9)
df.groupby([
            "JobLevel",
            "EducationField"]).agg({
    "EducationField": "describe",
    "Education": ["median", "describe", q10, q90], 'JobSatisfaction' : "describe"})

SyntaxError: invalid syntax (Temp/ipykernel_16972/1369342718.py, line 1)

In [ ]:
#company with job_level no edu field
def q10(x):
    return x.quantile(0.1)
def q90(x):
    return x.quantile(0.9)
df.groupby([
            "JobLevel"]).agg({
    "Education": ["median", "describe", q10, q90], 'JobSatisfaction' : "describe"})

In [ ]:
df_corr=df.drop(['StandardHours', 'EmployeeCount'], axis=1)
f,ax = plt.subplots(figsize=(20, 20))
sns.heatmap(df_corr.groupby("Department").corr(), annot=True, linewidths=.5,ax=ax, fmt= '.2f', cmap="Greens")